@import "layout";
body {
  font-size: var(--font-size-base);
}
.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #d9af32 4.71%,
    #4b59d8 40.65%,
    #4ebbe9 52.34%,
    #c9548e 21.59%,
    #66e887 71.82%,
    #a09e9e 87.84%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3.5s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.cardtitle {
  h1 {
    .linear-wipe {
      text-align: center;

      background: linear-gradient(
        to right,
        #d9af32 4.71%,
        #a5e866 21.59%,
        #4ebbe9 40.65%,
        #4ebbe9 52.34%,
        #a5e866 71.82%,
        #d9af32 87.84%
      );
      background-size: 200% auto;

      color: #000;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: shine 3.5s linear infinite;
      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }
  }
}

.connectbtn {
  background-color: var(--color-woodsmoke);
  border-radius: 0.75rem;
  &:hover,
  &:focus {
    color: var(--color-white-mode);
  }
}

.connectwalletmodal {
  .modal-content {
    background-color: var(--color-main);
    box-shadow: 0px 0px 16px -5px #000000;
    .modal-body {
      height: 400px;
      overflow-y: scroll;
    }
    .modal-body::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    .modal-body::-webkit-scrollbar-thumb {
      background: var(--color-gold);
      border-radius: 10px;
    }
    .modal-body::-webkit-scrollbar-thumb:hover {
      background: var(--color-gold);
    }
    .modal-body::-webkit-scrollbar-track {
      background: var(--color-black);
      border: 1px solid var(--color-black);
      border-radius: 0px;
      box-shadow: inset 0px 0px 0px 0px #f0f0f0;
    }
    .btn-close {
      background-color: var(--color-gold);
    }
  }
}

.walconect-btn {
  background-image: linear-gradient(to right, #414040 0%, #414040 100%);
  border-radius: 0.345rem;
  box-sizing: border-box;
  color: var(--color-white);
  display: block;
  margin: 0 auto;
  padding: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  .btnbox {
    align-items: center;
    background: var(--color-main);
    border-radius: 0.345rem;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    padding: 1rem 0.75rem;
  }
  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(to right, #cddb04 0%, #0074a9 100%);
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.card.swap-card {
  background-color: var(--color-alto);
  box-shadow: 0px 0px 15px -3px var(--color-code-gray);
  border-radius: 0.75rem;
  .form-label {
    margin-bottom: 0.5rem;
    color: var(--color-white);
    font-size: calc(var(--font-size-base) - 0.125rem);
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    display: block;
  }
  .walletdropbutton {
    background-color: var(--color-shark);
    border: 1px solid var(--color-dark-red);
    box-shadow: none;
  }
  .input-group {
    background-color: var(--color-main);
    border-radius: 0.75rem;
    .form-control {
      font-size: 1rem;
      font-weight: 400;
      color: var(--color-dove-gray);
      background-color: var(--color-main);
      border: 1px solid var(--color-dark-red);
      border-radius: 0.25rem;
      box-shadow: none;
      text-align: right;
    }
    .btn {
      border: 0;
      border-radius: 0.35rem !important;
      color: var(--color-white);
      text-transform: uppercase;
      font-weight: 600;
    }
    img {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
  .swapbtn {
    border: 0;
    border-radius: 0.35rem !important;
    color: var(--color-dove-gray);
    text-transform: uppercase;
    font-weight: 600;
    &:hover,
    &:focus {
      color: var(--color-white);
      outline: none;
      box-shadow: none;
    }
    img {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
}
